<%= javascript_include_tag "animation-bundle" %>

<canvas id="coin-canvas" width="700" height="553" class="show-for-medium-up"></canvas>

<div class="hidden">
  <%= image_tag "BC_Logo.png", id: 'bitcoin-logo-image' %>
</div>