<h2 class="inline-title">Bitcoin is as easy as 
  <a class="inline-title circle-button" href="#demo-section-1">1</a>
  <a class="inline-title circle-button" href="#demo-section-2">2</a>
  <a class="inline-title circle-button" href="#demo-section-3">3</a>
</h2>

Sending and receiving bitcoins is as simple as sending an email, the first thing we need is an <strong>address</strong><br><br>
<table id="demo-section-1" class="rounded-border">
  <td><label class="fake-circle-button"> 1 </label></td>
  <td valign="top"><%= image_tag "vault.png", alt: "Vault image" %></td>
  <td>
    <div class="row">
      <div class="small-10 columns text-left">
        <p>
          A Bitcoin <strong>address</strong> is the place where the bitcoins are actually stored<br>
          Like a transparent <strong>vault</strong>, the coins can only be moved by the <strong>key owner</strong> but the world can see what is inside
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns"></div>
      <div class="small-10 columns text-right">
        <p>The <strong>private key</strong> is the only key in the world that can transfer the bitcoins<br>
        You can have as many addresses as desired for free</p>
      </div>
    </div>
  </td>
  <td valign="bottom"><%= image_tag "key.png", alt: "Private Key image" %></td>
</table>
<div id="demo-section-2">
  <label class="fake-circle-button"> 2 </label>
</div>
<div id="demo-section-3">
  <label class="fake-circle-button"> 3 </label>
</div>

<form name="input_test" action="visitors/show" method="get">
  <fieldset>
    <label>You are almost there...</label>
    <br>
    <% ayah = AYAH::Integration.new(ENV['AREYOUAHUMAN_PUBLISHER_KEY'], ENV['AREYOUAHUMAN_SCORING_KEY']) %>
    <%= raw( ayah.get_publisher_html ) %>
    <button type="submit" class="radius round large">Get your first bitcoins <i class="fi-bitcoin-circle bitcoin-button"></i></button>
    <!-- <button type="submit" class="btn btn-primary">Get Bitcoins</button> -->
  </fieldset>
</form>