<div class="text-center">
  <h2>Bitcoin is as easy as </h2>
  <h2>
    <a class="circle-button" href="#demo-section-1">1</a>
    <a class="circle-button" href="#demo-section-2">2</a>
    <a class="circle-button" href="#demo-section-3">3</a>
  </h2>
</div>