SMALL
<h2>Bitcoin is as easy as </h2>
<ul class="inline-list center">
  <li><a class="circle-button" href="#demo-section-1">1</a></li>
  <li><a class="circle-button" href="#demo-section-2">2</a></li>
  <li><a class="circle-button" href="#demo-section-3">3</a></li>
</ul>