<h2>Bitcoin is as easy as 
  <a class="button radius round alert circle-button" href="#demo-section-1"> 1 </a>
  <a class="button radius round alert circle-button" href="#demo-section-2"> 2 </a>
  <a class="button radius round alert circle-button" href="#demo-section-3"> 3 </a>
</h2>

<div id="demo-section-1">
  <label class="button radius round alert circle-button"> 1 </label>
</div>
<div id="demo-section-2">
  <label class="button radius round alert circle-button"> 2 </label>
</div>
<div id="demo-section-3">
  <label class="fake-button"> 3 </label>
</div>

<form name="input_test" action="visitors/show" method="get">
  <fieldset>
    <label>You are almost there...</label>
    <br>
    <% ayah = AYAH::Integration.new(ENV['AREYOUAHUMAN_PUBLISHER_KEY'], ENV['AREYOUAHUMAN_SCORING_KEY']) %>
    <%= raw( ayah.get_publisher_html ) %>
    <button type="submit" class="radius round">Get Bitcoins <i class="fi-bitcoin bitcoin-button"></i></button>
    <!-- <button type="submit" class="btn btn-primary">Get Bitcoins</button> -->
  </fieldset>
</form>