<div>
  <h3>Bitcoin mining</h3>
  <h2>Lottery rewards with Proof of Work</h2>
  <%= image_tag "lottery.png", id: "lottery-image" %>
  
  <p>Proof of Work is a system to prevent and discourage spam by requiring some expensive enough work that makes cheating more expensive that performing the correct work<br>
    An example is an email system that cost a minute of desktop computer system computations to be able to send an email, <br>
    in this sample system email is still a fast enough channel of communication but a spammer that wants to send thousands of emails with spam content <br>
    will need to consume thousands of minutes of computer's use to perform the attack, making it expensive and <strong>unprofitable</strong>
    
    A proof-of-work (POW) system (or protocol, or function) is an economic measure to deter denial of service attacks and other service abuses such as spam on a network by requiring some work from the service requester, usually meaning processing time by a computer
    The metaphor with gold mining refers to the fact that bitcoins are <strong>limited in supply like gold</strong><br>
    Nevertheless, the actual process of Bitcoin mining is more similar to a <strong>lottery</strong> system than to a gold mine</p>

  <p>The term Bitcoin mining is used to describe how bitcoins are created and secured<br>
    The metaphor with gold mining refers to the fact that bitcoins are <strong>limited in supply like gold</strong><br>
    Nevertheless, the actual process of Bitcoin mining is more similar to a <strong>lottery</strong> system than to a gold mine</p>
  <h4>Goals of mining</h4>
  <h5>Verify transactions in the Bitcoin ledger (the Blockchain)</h5>
  <p>The miners perfom the <strong>accounting role</strong> of the Bitcoin economy. For example, they make sure your Bitcoin address contains 
    enough bitcoins before sending them and also verify that you don't send the same bitcoins to two persons simultaneously</p>
  <h5>Create and distribute new bitcoins</h5>
  <p>Every 10 minutes (on average) a miner creates a new block that <strong>confirms</strong> the last transactions in the Bitcoin economy and this block becomes part of the Blockchain, forever<br>
    This new block contains new bitcoins that go to the miner's Bitcoin address as a reward for performing the accounting work</p>
</div>