<div class="section sMyths hidden" id="myths">
  <h1>Myths about Bitcoin</h1>
  <div class="rounded-border info-block">
    <h4>Money can not work without a government backing it</h4>
    <p>There is no government, corporation or legal entity backing Bitcoin which may make difficult to understand how can the currency be trustworthy.<br>
      Bitcoin solves this by moving trust away from organizations and persons whose interests can be influenced to a unique trust in math.<br>
      Similar to the way gold provides trust through a series of unique physical attributes that are difficult to imitate correctly, 
      Bitcoin uses algorithms to prove that money belongs only to the owner of a private key and can only be spent once.</p>
    <h4>Everything in Bitcoin is anonymous</h4>
    <p>Bitcoin is not anonymous, it is pseudo-anonymous like cash.<br>
      Similar to cash where your name is not present in the bills that you use, in Bitcoin it is not possible to see your name in the bitcoins that you send or receive 
      but if you reveal your identity to the person or company that receives the bitcoins, it is possible to link your identity with your transaction
      and since all transactions are linked and publicly stored in the Blockchain, it is possible to partially track some of the previous transactions you made with the same 
      <strong class="title has-tooltip" title="The Wallet software will easily create and manage new addresses for you">Bitcoin address</strong></p>
    <h4>Bitcoins are digital and I could copy them like mp3</h4>
    <p>Bitcoins are limited in quantity. It is often compared to gold in the way that the money is released into the world in a continuous and decreased rate, like mining.<br>
      There will never be more than 21 million bitcoins in existence and every four years the amount of bitcoins released is halved, until the last bitcoin is released around year 2140.</p>
    <h4>Bitcoins are created at will out of thin air</h4>
    <p>Bitcoins are created as a reward for those who help verify <strong class="title has-tooltip" title="For example, verify that you have enough bitcoins to send before transferring them">valid transactions</strong> in the Bitcoin network.<br>
      This process is called <a data-reveal-id="mining-info-modal" class="fix-link-background">Bitcoin mining</a></p>
  </div>
</div>

<div id="mining-info-modal" class="reveal-modal text-center hidden" data-reveal>
  <div id="mining-content">
    <h2>Bitcoin Mining</h2>
  </div>
  <div id="mining-lottery-link">
    <p>To understand how a miner gets a reward you can learn how the <a data-reveal-id="mining-POW-modal" class="fix-link-background"><strong>lottery</strong> reward works with Proof of Work</a></p>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="mining-POW-modal" class="reveal-modal text-center hidden" data-reveal> 
  <div id="mining-POW-content">
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>