<canvas id="coinCanvas" width="800" height="600" class="show-for-medium-up"></canvas>
<div class="section sWelcome" id="welcome">
  <div id="welcome-content">
    <div id="welcom-languages" class="show-for-medium-up">
      <div class="language lang-typo1" id="welcome_sp">Bienvenido</div>
      <div class="language lang-typo1" id="welcome_et">Tere tulemast</div>
      <div class="language lang-typo2" id="welcome_fr">Bienvenue</div>
      <div class="language lang-typo3" id="welcome_nl">Welkom</div>
      <div class="language lang-typo2" id="welcome_de">Willkommen</div>
      <div class="language lang-typo3" id="welcome_pt">Bem-vindo</div>
      <div class="language lang-typo2" id="welcome_it">Benvenuto</div>
    </div>
    <h1 class="extruded background-position" id="welcome_en">Welcome</h1>
    <h2 class="extruded-subtitle background-position" >to the amazing revolution of money</h2>
    <br>
    <%= image_tag "BC_Logotype.png", class: "background-position", alt: "Bitcoin", id: "bitcoin-logo" %>
    <br>
    <br>
    <div id='scroll-message'>
      <h3 class="background-position">SCROLL</h3>
      <%= image_tag "scroll.png", id: "scroll-arrow", class: "background-position" %>
    </div>
  </div>
</div>

<div class="hidden">
  <%= image_tag "BC_Logo.png", id: 'bitcoin-logo-image' %>
</div>