@import "foundation";

$strong-blue: #001A83;

html, body {
  margin:0;
  padding:0;
}

h1 {
  text-align:center;
  text-shadow: 2px 2px 0px rgba(255, 255, 255, .8);
}

h3 {
  font-family: proxima-nova, proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
  color: #3F3F3F;
}

a:hover {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.bitcoin-button {
  font-size: 40px;
  vertical-align: middle;
}

button:focus {
  outline: none;
}

.sub-info-block {
  width:         100%;
  margin-top:    30px;
  max-width:     1300px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.info-block {
  @extend .rounded-corners;
  @extend .sub-info-block;
  padding:          15px;
  margin-bottom:    30px;
  background-color: #fff;
  background:       rgba(255, 255, 255, .7);
}

.header-info-block {
  @extend        .info-block;
  max-width:     1000px;
}

.address-info-block {
  @extend        .info-block;
  font-size:     14px;
  padding:       5px;
  padding-top:   15px;
  margin-top:    10px;
  margin-bottom: 10px;
  background:    #CDFFD3;
}

.address-info-block-shop {
  background-color: lightsalmon !important;
  &:hover {
    background-color: saddlebrown !important;
  }
}

.address-info-block-shop-higlighted {
  background-color: red !important;
  &:hover {
    background-color: saddlebrown !important;
  }
}

.rounded-corners {
  border-radius: 15px;
}

.circle-button {
  // @include button($button-med, $alert-color, $button-round, false, false, false);
  @extend .button;
  @extend .round;
  @extend .alert;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
}

a.circle-button:hover, a.circle-button:active, a.circle-button:link, a.circle-button:visited {
  @extend .circle-button;
  color:#FFFFFF;
  text-decoration: none;
}

.fake-circle-button {
  @extend .circle-button;
  background-color: rgb(240, 65, 36) !important;
  cursor: default;
}

.blockchain-button-label {
  @extend .fake-circle-button;
  background-color: rgb(67, 172, 106) !important;
}

.bitcoin-address {
  background-image: -webkit-gradient(linear, left top, right top, 
      from(rgba(0, 0, 120, 1)), to(rgba(0, 170, 200, 1)));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.touch-wallet-border {
  background-color: rgba(150, 230, 0, 0.2);
}

.wallet-border:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wallet-mobile:hover {
  @extend .wallet-border;
  background-color: rgba(50, 230, 0, 0.3);
}

.wallet-desktop:hover {
  @extend .wallet-border;
  background-color: rgba(230, 230, 0, 0.3);
}

.wallet-web:hover {
  @extend .wallet-border;
  background-color: rgba(250, 50, 0, 0.3);
}

strong.title {
  color: $strong-blue;
}

.tooltip-text .qtip-content{
  font: 16px verdana, Helvetica, Helvetica, Arial, sans-serif !important;
}

.super-button {
  padding-top:    30px !important;
  padding-right:  60px !important;
  padding-bottom: 30px !important;
  padding-left:   60px !important;
  font-size:      28px !important;
}

div.right-border {
  border: 0px;
  border-right-color: grey;
  border-style: solid;
  border-right-width: 1px;
}

div.bottom-border {
  border: 0px;
  border-bottom-color: grey;
  border-style: solid;
  border-bottom-width: 1px;
}

.hidden {
  display: none;
} 

.container {
  width:100%;
}

.section {
  background:rgba(25,25,25,.05);
  width:100%;
  height:600px;
  padding-top:50px;
  padding-bottom:50px;
}

.section-large {
  @extend .section;
  height: 100%;
}

div.sMyths {
  height: 100% !important;
}

.highlighted-box {
  -webkit-transition: -webkit-box-shadow 3s, border-color 3s ease-in-out !important;
  -moz-transition: -moz-box-shadow 3s, border-color 3s ease-in-out !important;
  transition: box-shadow 3s, border-color 3s ease-in-out !important;
}

/* Welcome titles and texts */

.semi-transparent {
  opacity: 0.3;
}

.extruded {
  color: #FFF;
  font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-shadow: #58E 1px 1px, #58E 2px 2px, #58E 3px 3px, #58E 4px 4px, #58E 5px 5px, #58E 6px 6px;
  position: relative;
  left: -6px;
  top: -6px;
  -moz-transition: all 0.3s ease-out; /* FF3.7+ */
  -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}

.de_extruded {
  color: #888;
  font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-shadow: #000 1px 1px, #000 2px 2px, #000 3px 3px;
  position: relative;
  left: 0px;
  top: 0px;
  -moz-transition: all 0.3s ease-out; /* FF3.7+ */
  -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}

.extruded-subtitle {
  color: #FFF;
  font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-shadow: -1px 1px 0 #000, #D8A704 -2px 2px, #D8A704 -3px 3px, #D8A704 -4px 4px;
  position: relative;
  left: 5px;
  top: -5px;
  -moz-transition: all 0.3s ease-out; /* FF3.7+ */
  -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}

.de_extruded-subtitle {
  color: #888;
  font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-shadow: #000 1px 1px, #000 2px 2px, #000 3px 3px;
  position: relative;
  left: 0px;
  top: 0px;
  -moz-transition: all 0.3s ease-out; /* FF3.7+ */
  -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}

.extruded-info-title {
  font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-shadow: #061019 1px 1px, #061019 2px 2px, #061019 3px 3px, #061019 4px 4px;
  position: relative;
  left: -6px;
  top: -6px;
  -moz-transition: all 0.3s ease-out; /* FF3.7+ */
  -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}

.extruded-demo-title {
  color: #C74848;
  font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-shadow: -1px 1px 0 #090A09, #D8A704 -2px 2px, #3FD804 -3px 3px, #D8A704 -4px 4px;
  position: relative;
  left: 5px;
  top: -5px;
  -moz-transition: all 0.3s ease-out; /* FF3.7+ */
  -o-transition: all 0.3s ease-out; /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}

.bitcoin-address-title {
  color: rgb(0, 191, 255);
}

.bitcoin-wallet-title {
  color: rgb(255, 140, 0);
}

.some-bitcoins-title {
  color: #9BA3CA;
}

#welcome-content {
  width: 75%;
  left: 50%;
  z-index: 100;
}

#footsteps-image {
  left: 0px;
  top: -220px;
  position: relative;
}

/* Welcome languages */

.language {
  color: #FFF;
  font-family: proxima-nova-1, proxima-nova-2, 'Helvetica Neue', Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  left: -6px;
  top: -6px;
  opacity: 0.2;
}

.lang-typo1 {
  text-shadow: #58E 1px 1px, #58E 2px 2px, #58E 3px 3px, #58E 4px 4px;
}

.lang-typo2 {
  text-shadow: #FF9393 -1px -1px, #FF9393 -2px -2px, #FF9393 -3px -3px, #FF9393 -4px -4px;
}

.lang-typo3 {
  text-shadow: #599940 1px 1px, #599940 2px 2px, #599940 3px 3px, #599940 4px 4px;
}

.background-position {
  position: relative;
  z-index: 100;
}

#welcome_sp {
  position: absolute;
  left: 67%;
  top: 45px;
  z-index: 2;
}

#welcome_fr {
  position: absolute;
  left: 80%;
  top: 15px;
  z-index: 3;
}

#welcome_et {
  position: absolute;
  left: 1%;
  top: 140px;
  z-index: 4;
}

#welcome_nl {
  position: absolute;
  left: 18%;
  top: 1px;
  z-index: 5;
}

#welcome_de {
  position: absolute;
  left: 90%;
  top: 170px;
  z-index: 6;
}

#welcome_pt {
  position: absolute;
  left: 77%;
  top: 70px;
  z-index: 7;
}

#welcome_it {
  position: absolute;
  left: 22%;
  top: 65px;
  z-index: 8;
}

#coin-canvas {
  position: absolute;
  z-index: 101;
}
/* Sections */

#what-section-intro {
  z-index: 200;
  position: relative;
}

.sWelcome {
  background: #b2e1ff; /* Old browsers */
  background: -moz-linear-gradient(top, #b2e1ff 0%, #4aa8f9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#4aa8f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b2e1ff 0%,#4aa8f9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b2e1ff 0%,#4aa8f9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b2e1ff 0%,#4aa8f9 100%); /* IE10+ */
  background: linear-gradient(to bottom, #b2e1ff 0%,#4aa8f9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#4aa8f9',GradientType=0 ); /* IE6-9 */
}

.sWhat {
  background: #4aa8f9; /* Old browsers */
  background: -moz-linear-gradient(top, #4aa8f9 0%, #b2e1ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4aa8f9), color-stop(100%,#b2e1ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4aa8f9 0%,#b2e1ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4aa8f9 0%,#b2e1ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4aa8f9 0%,#b2e1ff 100%); /* IE10+ */
  background: linear-gradient(to bottom, #4aa8f9 0%,#b2e1ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa8f9', endColorstr='#b2e1ff',GradientType=0 ); /* IE6-9 */
}

.sStart {
  background: #b2e1ff; /* Old browsers */
  background: -moz-linear-gradient(top, #b2e1ff 0%, #5EB20D 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2e1ff), color-stop(100%,#5EB20D)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #b2e1ff 0%,#5EB20D 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #b2e1ff 0%,#5EB20D 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #b2e1ff 0%,#5EB20D 100%); /* IE10+ */
  background: linear-gradient(to bottom, #b2e1ff 0%,#5EB20D 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#5EB20D',GradientType=0 ); /* IE6-9 */
}

.sUse {
  background: #5EB20D; /* Old browsers */
  background: -moz-linear-gradient(top, #5EB20D 0%, #e3f5ab 72%, #f8ffe8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5EB20D), color-stop(72%,#e3f5ab), color-stop(100%,#f8ffe8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5EB20D 0%,#e3f5ab 72%,#f8ffe8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5EB20D 0%,#e3f5ab 72%,#f8ffe8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5EB20D 0%,#e3f5ab 72%,#f8ffe8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #5EB20D 0%,#e3f5ab 72%,#f8ffe8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5EB20D', endColorstr='#f8ffe8',GradientType=0 ); /* IE6-9 */
}

.sMyths {
  background: #f8ffe8; /* Old browsers */
  background: -moz-linear-gradient(top, #f8ffe8 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8ffe8), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8ffe8 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8ffe8 0%,#f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8ffe8 0%,#f1da36 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f8ffe8 0%,#f1da36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  width: 70%;
  z-index: 200;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





/* 
  Quirks and fixes 
*/

legend {
  line-height: normal;
}

p.side-padding { /* Fix for private key text correctly aligned */
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: right;
}

/* Fix image aligned to bottom right */
div.relative-position {
  position: relative;
}
div.fix-bottom-position {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Small padding space for the sample transaction amount label */
.small-right-padding {
  padding-right: 5px !important;
}

/* Vertical space between rows for the sample transaction wallet*/
div.separated-row {
  margin-bottom: 20px !important;
}

/* Fake table for shop */
.shop-table-text {
  font-size: 14px;
}
.shop-table-title {
  @extend .shop-table-text;
  font-weight: bold;
}
.shop-table {
  border-width: 1px;
  border-color: rgb(185, 184, 184);
  border-style: solid;
  margin: 10px;
  padding-top: 10px;
}

// Fix for Angular adding click cursor to label
.no-cursor {
  cursor: default !important;
}

// Fix too big margin on paragraphs
p.no-margin {
  margin: 3px;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}

.fix-link-background:hover {
  background-color: transparent;
}

// Fix for background on close X in modal messages
a.close-reveal-modal:hover {
  @extend .fix-link-background;
  color: #000;
}

// Fix for Zurb Foundation sizes
#breakpoints {  
  height:0px;  
  div {
    width:1px;
    height:0px;
    visibility:hidden;    
    &.breakpoint-small {
      display:block;
    }
    &.breakpoint-medium,
    &.breakpoint-large {
      display:none;
    }
  }
}

// Fix for demo forms on really small phone screens
fieldset {
  min-width: 210px;
}

.super-small-inline-title {
  display: inline;
}

// Reduce wasted spaces in small phone screens
@media #{$small-only} {
  .super-small-padding {
    padding: 2px;
  }

  .super-small-overflow {
    overflow: hidden;
  }

  .super-small-inline-title {
    display: block;
  }

  .bitcoin-address {
    font-size: small;
    overflow-wrap: break-word !important;
  }

  .video-container {
    width: 100%;
  }
  
  .small-demo-title {
    font-size: 40px;
    width: 90%;
  }
  
  // Fix small screen cut of long bitcoin address in form
  #demo-pay-to-address {
    width:         70%;
    text-overflow: ellipsis;
    white-space:   nowrap;
    overflow:      hidden;
  }
  // Fix to reduce padding on phones
  fieldset {
    padding-left:  0px;
    padding-right: 0px;
  }
  #demo-pay-to-address {
    padding-left:  0px;
    padding-right: 0px;
  }
}

@media #{$medium-up} {
  .title-medium-up {
    color: $strong-blue;
  }
}

@media #{$large-up} {
  .aligned-bitcoin-address {
    position: absolute;
    bottom: 0;
    height: 55%;
  }
}

/* Parsley Form validation CSS */

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  color: red;
  font-style: italic;
  white-space:nowrap;
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in-;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}